<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>SocketIO Test</title>
    <link rel="stylesheet" href="./scripts/vendor/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <main>

      <div class="page-header">
        <h1>Henry's Draft <small>FREE MAGIC!</small></h1>
      </div>


      <div ng-controller='gameController'>

        <div class="panel panel-primary" id='packSelection'>

          <div class='panel-heading'>
            <div class='panel-title'>Select packs to play with:</div>
          </div>

          <div class='panelContent'>

            <div id='statusAlert' class='alert alert-danger' role='alert'>Make sure each player has taken their seat!</div>
            <div id='packAlert' class='alert alert-danger' role='alert'>Make sure you have selected each pack!</div>
            <button style="margin: 10px" class="btn btn-primary" type="button" ng-click='getPacks()'>Make Packs</button>
            <span>Player Status: <span id='status'>{{userStatus}}</span> ({{usersReady}}/{{totalUsers}})</span>

            <select class='form-control' ng-model="packOne">
              <option ng-repeat="set in dropDown">{{set}}</option>
            </select>
            <select class='form-control' ng-model="packTwo">
              <option class='form-control' ng-repeat="set in dropDown">{{set}}</option>
            </select>
            <select class='form-control' ng-model="packThree">
              <option ng-repeat="set in dropDown">{{set}}</option>
            </select>

          </div>

        </div>


        <div class="panel panel-primary" id="welcome">
          <div class="panel-heading">
            <div class="panel-title">Welcome!</div>
          </div>
          <div class="panelContent">
            <p>Please enter your name and take a seat at the table.  The draft will start once the room host is finished with the setup.  Thanks for playing on Henry's Draft!</p>
          </div>
        </div>

      <!-- End gameController -->
      </div>

      <div ng-controller='playController' id="playArea">

        <div id="draftContent">

          <div class="panel panel-info">
            <div class="panel-heading">
              <div class='panel-title'>Current Pack:</div>
            </div>
            <div class='panelContent'>
              <img class='packCard' ng-click='pickCard($event, $index)' ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid= + {{card.multiverseid}} + &type=card" ng-repeat="card in currentPack track by $index"/>
            </div>
          </div>


          <div class="panel panel-info">
            <div class="panel-heading">
              <div class='panel-title'>My Picks:</div>
            </div>
            <div class='panelContent'>
              <img class='pickedCard' ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid= + {{myCard.multiverseid}} + &type=card" ng-repeat="myCard in myPicks track by $index"/>
            </div>
          </div>

        </div>


          <div id='postDraftContent'>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="panel-title">Draft Complete!</div>
              </div>
              <div class='panelContent' style='margin: 15px; text-align: center;'>
                <p>You've finished drafting!  Create your deck by moving cards to and from your sideboard and mainboard.  Make sure to add basic lands to your deck!  Once you have completed deckbuilding, click 'Submit Decklist' and your deck will be copied to your clipboard.  Then, paste the decklist into your favorite online magic application such as Cockatrice or Magic Workstation.  You can click 'Pairings' to see who you are paired with.<br/><br/><strong>Thanks for using Henry's Draft!</strong></p>
                <button style='margin: 15px;' type="button" class='btn btn-primary' data-toggle="modal" data-target="#deckModal" ng-click='submitDecklist()'>Submit Decklist</button>
                <button style='margin: 15px;' type="button" class='btn btn-info' data-toggle="modal" data-target="#pairingsModal">Pairings</button>
              </div>
            </div>

            <div class="panel panel-success">
              <div class="panel-heading">
                <div class="panel-title">Basic Lands ({{landCount}}):</div>
              </div>

              <div class="panelContent">
                <button type="button" class="mana" id="plain" ng-click='manaInc("plain")' ng-right-click='manaDec("plain")'>{{plains}}</button>
                <button type="button" class="mana" id="island" ng-click='manaInc("island")' ng-right-click='manaDec("island")'>{{islands}}</button>
                <button type="button" class="mana" id="swamp" ng-click='manaInc("swamp")' ng-right-click='manaDec("swamp")'>{{swamps}}</button>
                <br/>
                <button type="button" class="mana" id="mountain" ng-click='manaInc("mountain")' ng-right-click='manaDec("mountain")'>{{mountains}}</button>
                <button type="button" class="mana" id="forest" ng-click='manaInc("forest")' ng-right-click='manaDec("forest")'>{{forests}}</button>
              </div>

            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <div class='panel-title'>Mainboard ({{myMainboard.length}}):</div>
              </div>
              <div class='panelContent'>
                <img class='mainBoard' ng-click='deckCard($event, $index)' ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid= + {{myMainboardCard.multiverseid}} + &type=card" ng-repeat="myMainboardCard in myMainboard track by $index"/>
              </div>
            </div>


            <div class="panel panel-warning">
              <div class="panel-heading">
                  <div class="panel-title">Sideboard ({{mySideboard.length}}):</div>
              </div>
              <div class='panelContent'>
                <img class='sideBoard' ng-click='deckCard($event, $index)' ng-src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid= + {{mySideboardCard.multiverseid}} + &type=card" ng-repeat="mySideboardCard in mySideboard track by $index"/>
              </div>
            </div>

          </div>

          <div class="modal fade" id="deckModal" tabindex="-1" role="dialog" aria-labelledby="deckModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="userModalLabel">Your Deck:</h4>
                </div>
                <div class="modal-body">
                  <h5>Deck Hash: {{deckHash}}</h5>
                  <button type="button" class='btn btn-info btn-lg' ng-click="clipboard()">Copy list to clipboard</button>
                  <textarea id="deckTextarea">
                    {{deckList}}
                  </textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="pairingsModal" tabindex="-1" role="dialog" aria-labelledby="pairingsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="pairingModalLabel">Pairings:</h4>
                </div>
                <div class="modal-body">
                  <h3>Round one:</h3>
                  <ul>
                    <li ng-repeat='player in pairings'><strong>Player: </strong>{{player.name}}, <strong>Opponent: </strong>{{player.opponent}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

      <!-- End playController -->
      </div>

    </main>


    <div ng-controller="messageController" id="messaging">

      <div id="chatLog">
        <div class="alert alert-info" role="alert">Chatting as: {{username}}</div>
        <div ng-repeat = "message in messageLog track by $index">
          <div class="message">{{message}}</div>
        </div>
      </div>

      <div id='msgControls'>

        <div id='seating'>
          <div class="alert alert-warning" role="alert">Please take a seat:</div>
          <input type="text" ng-keypress="nameEnter($event)" ng-model="username" placeholder="Player Name" autofocus='true'>
          <button class='btn btn-success' type="button" ng-click='takeSeat()'>Join</button>
        </div>

        <div id='messageEnter' class='input-group'>
          <textarea class='form-control' type="text" ng-model="msgIn" ng-keypress="chatEnter($event)"></textarea>
          <button id="send" class='btn btn-primary' type="button" ng-click="sendMsg()">Send</button>
          <button id="userList" class='btn btn-info' data-toggle="modal" data-target="#userModal" type="button"><span class="glyphicon glyphicon-user" aria-hidden='true'></span></button>
        </div>

      </div>

    <!-- End messageController -->
    </div>

    <div ng-controller="userModalController">
      <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="userModalLabel">Players <span class="badge">{{userCount}}</span></h4>
            </div>
            <div class="modal-body">
              <ul>
                <li ng-repeat='user in userSeats track by $index'>{{user}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="./scripts/vendor/js/bootstrap.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </body>
</html>
