
h1 {
  margin-left: 5vw;
}

img {
  margin: 2px;
}

main {
  display: inline-block;
  width: 60vw;
  margin: 2vw;
}

#draftContent, #postDraftContent, #packAlert, #statusAlert, #messageEnter {
  display: none;
}

#status {
  font-weight: bold;
  color: #db2222;
}

input {
  height: 5vh;
  margin: 1vh;
  width: 65%;
}

textarea {
  resize: vertical;
}

#send {
  margin: 5px;
  width: 75%;
}

#userList {
  margin: 5px;
  width: 15%;
  float: right;
}

#messaging {
  display: inline;
  width: 25vw;
  float: right;
  margin: 2vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFF;
}

.alert-warning {
  margin-bottom: 0px;
}

#chatLog {
  height:65vh;
  width:100%;
  border: 1px solid black;
  overflow-y: auto;
  border-radius: 8px;
}

.message {
  padding: 2px;
  padding-bottom: 0px;
}

.panel-info, .panel-primary, .panel-warning {
  box-shadow: 2px 2px 10px;
}

#packSelection {
  display: none;
  margin-bottom: 10vh;
}

.packCard:hover, .pickedCard:hover, .mainBoard:hover, .sideBoard:hover {
  z-index: 100;
  transform: scale(1.5);
}

.panelContent {
  margin: 15px;
}

#selectedCard {
  border: 5px solid #00ac0c;
}
