
h1 {
  margin-left: 5vw;
}

img {
  margin: 2px;
}

main {
  display: inline-block;
  width: 60vw;
  margin: 2vw;
}

#draftContent, #postDraftContent, #packAlert, #statusAlert, #messageEnter, #welcome, #packSelection {
  display: none;
}

#status {
  font-weight: bold;
  color: #db2222;
}

input {
  height: 5vh;
  margin: 1vh;
  width: 65%;
}

textarea {
  resize: vertical;
}

#send {
  margin: 5px;
  width: 75%;
}

#userList {
  margin: 5px;
  width: 15%;
  float: right;
}

#messaging {
  display: inline;
  position: fixed;
  width: 25vw;
  float: right;
  margin: 2vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFF;
}

.alert-warning {
  margin-bottom: 0px;
}

#chatLog {
  height:65vh;
  width:100%;
  border: 1px solid black;
  overflow-y: auto;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.message {
  padding: 2px;
  padding-bottom: 0px;
}

.panel {
  box-shadow: 2px 2px 10px;
}

#packSelection {
  margin-bottom: 10vh;
}

.packCard:hover, .pickedCard:hover, .mainBoard:hover, .sideBoard:hover {
  z-index: 100;
  transform: scale(1.5);
}

.panelContent {
  margin: 15px;
  text-align: center;
}

#selectedCard {
  border: 5px solid #00ac0c;
}

.mana {
  margin: 15px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  font-size: 7em;
  color: red;
  border: none;
}

.mana:hover {
  border: 4px solid black;
}

#plain {
  background-image: url('./images/plain.png');
}

#island {
  background-image: url('./images/island.png');
}

#swamp {
  background-image: url('./images/swamp.png');
}

#mountain {
  background-image: url('./images/mountain.png');
}

#forest {
  background-image: url('./images/forest.png');
}
