
main {
  display: inline-block;
  width: 60vw;
  margin: 2vw;
}

#packAlert {
  display: none;
}

input {
  height: 5vh;
  margin-top: 1vh;
  margin-left: 5px;
}

textarea {
  resize: vertical;
}

#send {
  margin: 5px;
  width: 75%;
}

#userList {
  margin: 5px;
  width: 15%;
  float: right;
}

#messaging {
  display: inline;
  width: 25vw;
  float: right;
  margin: 2vw;
  border: 2px solid black;
}

.alert-warning {
  margin-bottom: 0px;
}

#input {

}

#chatLog {
  height:75vh;
  width:100%;
  border: 1px solid black;
  overflow-y: auto;
}

.message {
  padding: 2px;
  padding-bottom: 0px;
}

#messageEnter {
  display: none;
}

#packSelection {
  display: none;
  margin-bottom: 10vh;
}

.packCard {
}

.pickedCard {
}

.packCard:hover {
  z-index: 100;
  transform: scale(1.5);
}

.pickedCard:hover {
  z-index: 100;
  transform: scale(1.5);
}

#selectedCard {
  border: 5px solid #00ac0c;
}
